.container{
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #2ed991;
  margin: auto;
  text-align: center;

}
body{
  background-color: #303b36;
}
h1{
  font-size: 100px;
  margin: 40px auto auto auto;
}
.p1{
  display: inline-block;
  margin: auto;
  padding-right: 30px;
  padding-top: 10px;
}
.p2{
  display: inline-block;
  margin: auto;
  padding-left: 30px;
  padding-top: 10px;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 12px;
}
button:hover{
  background-color: #4d7d65;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
button:active{
  transform: translateY(4px);
}
